/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.add-tweet-holder::-webkit-scrollbar,
.infinite-scroll-component__outerdiv::-webkit-scrollbar,
.infinite-scroll-component::-webkit-scrollbar {
  display: none;
}

.profile-card {
  font-family: var(--font-inter);
  width: 100%;
  /* max-width: 300px; */
  overflow: hidden;
  text-align: center;
  color: var(--text-primary);
  border-radius: var(--radius);
  background-color: var(--primary);
  /* border: 1px solid var(--text-primary) !important; */
  position: sticky !important;

}
@media (max-width: 1000px) {
  .home-card-mobile {
    display: none !important;
  }
}
.profile-card-banner {
  width: 100%;
  max-height: 200px;
}

.profile-card-picture {
  width: 100px !important;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -50px;
  border: 5px solid var(--primary);
  background-color: #fff;
}
.profile-card img {
  width: 100%;
  height: 100%;
}

.profile-card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid var(--text-primary);
  border-bottom: 1px solid var(--text-primary);

  border-radius: 0px !important;
  width: 90%;
  margin: 0px auto;
  height: 100%;
}
.profile-card-details div {
  padding: 20px 0px !important;
}
.profile-card-details p {
  padding: 0px !important;
  margin: 0px !important;
}

/* PATH ../components/Trending.js */

.trending-section {
  border-radius: var(--radius);
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 20px 30px;
  gap: 10px;
  /* border: 1px solid var(--text-primary) !important; */

}
.trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

/*   PATH ../components/AddTweet.js  */

.add-tweet-holder {
  border-radius: var(--radius);
  background-color: var(--primary);
  color: var(--text-primary);
  padding: 20px 30px;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* border: 1px solid var(--text-primary) !important; */

}

.add-tweet-holder img {
  width: 60px;
  height: 100%;
  border-radius: 100px;
}
.add-tweet-holder div {
  width: 100% !important;
}
.add-tweet-holder div textarea {
  width: 100% !important;
  border-radius: var(--radius);
  background-color: var(--bg-primary) !important;
  font-size: 20px;
  color: var(--text-primary) !important;
  padding: 10px 15px !important;
  outline: none;
  resize: none;
  overflow: auto;
}

.add-tweet-holder div textarea::-webkit-input-placeholder {
  color: #bbbbbb;
}

.add-tweet-holder div textarea::-moz-placeholder {
  color: #bbbbbb;
}

.add-tweet-holder div textarea:-ms-input-placeholder {
  color: #bbbbbb;
}

.add-tweet-holder div textarea::-ms-input-placeholder {
  color: #bbbbbb;
}

.add-tweet-holder div textarea::placeholder {
  color: #bbbbbb;
}
.add-tweet-holder div textarea::-webkit-scrollbar {
  border-radius: var(--radius);
  width: 3px;
  display: none;
}

.add-tweet-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.add-tweet-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: var(--radius);
  color: var(--text-secondary);
  font-size: 16px;
  gap: 10px;
  border: 1px solid var(--text-primary);
  /* max-width: 100px; */
  margin: 20px 10px;
  padding: 5px;
  max-width: 130px;
}
@media (max-width: 1000px) {
  .add-tweet-holder img {
    margin-top: 5px;
    width: 35px;
  }
  .add-tweet-icons {
    margin-top: 5px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .add-tweet-icon {
    margin: 5px;
    max-width: 100px;
  }
}
/* 
    PATH ../components/Tweet.js
 */

.tweet {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary);
  color: var(--text-primary);
  border-radius: var(--radius);
  padding: 20px;
  margin: 0 auto 15px auto;
  /* border: 1px solid var(--text-primary) !important; */
}
.tweet-text {
  white-space: pre-wrap;
  /* word-break: break-all; */
  font-family: var(--font-inter);
  font-size: 16px;
}
.tweet-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.tweet-user img {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}
.tweet-body,
.tweet-img img {
  /* max-height: 300px; */
  /* aspect-ratio: 3/2; */
  margin: 0 auto;
  display: block;
  border-radius: var(--radius);
  /* width: 100% !important; */
}

.tweet-icon {
  border: 1px solid var(--text-primary);
  background-color: var(--bg-secondary);
  padding: 10px !important;
  border-radius: var(--radius);
  color: var(--text-secondary);
  width: 100%;
  margin: 0px 5px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 200ms;
}
.tweet .saved {
  /* background-color: rgba(249, 82, 82, 0.829); */
  background-color: var(--saved);
  -webkit-box-shadow: 60px 30px 400px 1px #ffef628a;
  box-shadow: 60px 30px 400px 1px #ffef628c;
}

.tweet .liked {
  background-color: var(--liked);
  -webkit-box-shadow: -60px 30px 200px 1px #ff616177;
  box-shadow: -60px 30px 200px 1px #ff61618a;
}

@media (max-width: 800px) {
  .tweet-icon {
    padding: 10px 2px !important;
    font-size: smaller;
  }
}
