/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.login-form,
.signup-form {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px !important;
}
.signup-form form,
.login-form form {
  /* border-radius: var(--radius); */
  background-color: var(--primary) !important;
  color: var(--text-primary);
  padding-top: 100px !important;
  width: 100%;
  max-width: 400px;
}

.signup-form form input,
.login-form form input {
  background-color: var(--body-bg) !important;
  border: 1px solid var(--text-primary) !important;
  position: relative;
}

.back-btn {
  top: 20px !important;
  left: 20px;
}

@media (max-width: 800px) {
  .login-form form,
  .signup-form form {
    margin-top: 80px !important;
    min-height: 100vh !important;
    max-width: 100%;
    width: 100%;
    margin-top: 0px !important;
    padding-top: 150px !important;
  }
  .login-form,
  .signup-form {
    margin-top: 0px !important;
  }
  .login-form .img,
  .signup-form .img {
    display: none;
  }
}

.form-invalid {
  color: rgb(255, 123, 123);
  padding: 4px 0;
  font-size: smaller;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  text-transform: lowercase;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
