/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

:root {
  --secondary: #1b2730;
  --bg-secondary: #28343e;
  --radius: 10px;
  --text-primary: #707e8b;
  --font-inter: "Inter", sans-serif;
  --text-secondary: #ebedee; 
} */

.login-form {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px !important;
}

.login-form form {
  /* border-radius: var(--radius); */
  background-color: var(--primary) !important;
  color: var(--text-primary);
}
.login-form form input {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-secondary) !important;
}

.back-btn {
  top: 20px !important;
}

.signup-form {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px !important;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 80px !important;
}

.signup-form form {
  background-color: var(--primary);
  color: var(--text-primary);
}
.signup-form form input {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-secondary) !important;
}

@media (max-width: 1000px) {
  .login-form,
  .signup-form {
    margin-top: 80px !important;
    min-height: 80vh;
    max-width: 350px;
  }
}

.form-invalid {
  color: rgb(255, 123, 123);
  padding: 4px 0;
  font-size: smaller;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  text-transform: lowercase;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
