/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Major+Mono+Display&display=swap");
body {
  margin: 5px 20px !important ;
  font-family: var(--font-inter) !important;
}
a {
  color: var(--text-primary) !important;
}
:root {
  /* --secondary: #1b2730; */
  --secondary: #0a0f14 !important;

  --radius: 10px;
  --text-primary: #707e8b;
  --text-secondary: #ebedee;
  --font-inter: "Inter", sans-serif;
  --font-logo: "Major Mono Display", monospace;
}
.logo {
  font-family: var(--font-logo) !important;
}
.main-nav{
  z-index: 3;
}
.center-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  min-width: 10px;
  gap: 5px;
}
.loader{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  inset:0;
  z-index: 2;
  background-color: #1b2730;
}
.search-box {
  min-width: 200px;
  height: 40px;
  padding: 10px !important;
  border-radius: var(--radius);
  background-color: var(--secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
input {
  border: none !important;
  outline: none !important;
  font-family: var(--font-inter);
  color: var(--text-primary) !important;
}

.active-nav {
  background-color: #1b2730 !important;
  color: #fff !important;
  border-radius: var(--radius);
  padding: 8px 10px !important;
  font-size: 14px !important;
}
.nav-item {
  padding: 3px !important;
  border-radius: var(--radius);
}

.divider {
  border: 1px solid #1b2730;
  height: 15px;
  width: 1px;
}

/* Path: src\components\Header.js */

main > div {
  width: 100%;
  min-width: 30px;
  height: 100% !important;
  margin: 5px;
  border-radius: var(--radius);
  /* background-color: var(--secondary); */
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 20px minmax(auto, 550px) 20px 1.7fr;
  grid-template-columns: 1.5fr minmax(auto, 550px) 1.7fr;
  grid-auto-rows: auto !important;
  grid-gap: 20px;
  padding: 20px;
}

.menu-icon {
  display: none;
}
.nav-icon-label {
  display: none;
}

@media (max-width: 1000px) {
  body {
    margin: 0px !important;
  }
  .main-nav{
    /* position: fixed !important;
    left: 0;
    right: 0; */
    z-index: 3 ;
    /* background-color: #030405 !important; */
  }
  main {
    display: block !important;
    padding: 0px 10px;
    margin: 0 auto !important;
    overflow: hidden !important;

  }
  main > div {
    width: 100% !important;
    margin: 15px auto !important;
  }
  .menu {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    position: fixed;
    inset: 0;
    /* left: 10%; */
    border-radius: 0px;
    top: 60px;
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    z-index: 4;
    background-color:#030405;
    /* border: 1px solid var(--text-primary); */
  }
  .menu li {
    /* display: flex !important; */
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    width: 100%;
    padding: 10px 30px !important;
  }
  .menu-state-mobile-off {
    /* display: none !important; */
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menu-state-mobile-on {
    /* display: flex !important; */
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);

  }
  .menu li a {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:10px;
    margin: 0px 0px;
    font-size: 20px !important;
    border-radius: var(--radius);
    /* border: 1px solid rgba(255, 255, 255, 0.39); */
  }
  .nav-icon-label {
    display: block;
    margin-left: 10px;
    font-weight: 900;
  }
  .divider{
    /* transform: rotate(90deg); */
    width: 100%;
    height: 1px;
  }
  .active-nav{
    background-color: var(--secondary) !important;
    color: #ffffff !important;
    letter-spacing: 2px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    font-weight: 500;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding:15px 30px !important;
      box-shadow: inset 0vw 3px 30px 1px rgba(21,134,221,0.6);
-webkit-box-shadow: inset 0vw 3px 30px 1px rgba(21,134,221,0.6);
-moz-box-shadow: inset 0vw 3px 30px 1px rgba(21,134,221,0.6);

  }
  .active-nav::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    background-color: #1586dd;
    height: 100%;
  
    border-radius: 10px 0px 0px 10px;
  }
  .active-nav::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    background-color: #1586dd;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
  }
  .menu-icon {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .search-box {
    border: 1px solid var(--text-primary);
    max-width: 400px;
    margin: 20px auto;
  }
  .search-box input {
    padding: 5px;
  }
}
